In [15]:
import pandas as pd
import matplotlib.pyplot as plt

In [16]:
df = pd.read_csv('../data/curated/visualisation_df.csv')

In [21]:
df['id'] = df['id'].str.extract(r'[A-Z]{4}(\d{5})')[0].astype(int)

In [24]:
df.groupby('region')['id'].describe()

,count,mean,std,min,25%,50%,75%,max
region,,,,,,,,
Flumevale,3522.0,10381.719761,6002.515315,1.0,5204.50,10382.5,15597.75,20804.0
Lyndrassia,8406.0,10497.055318,5967.619870,4.0,5339.75,10565.5,15615.50,20806.0
Navaldia,8878.0,10323.559022,6043.673862,2.0,5068.25,10220.5,15597.50,20802.0